body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c; /* Fondo oscuro */
    margin: 0;
    padding: 0;
    color: #e0e0e0; /* Texto principal claro */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.header h1 {
    font-size: 36px;
    margin: 10px 0;
}

.header p {
    color: #e0e0e0; /* Texto principal claro */
    margin-bottom: 20px;
}

.btn-crear {
    background-color: #005b4f; /* Verde oscuro/teal */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.table-container {
    background-color: #2b2b2b; /* Gris carbón para la tabla */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra más suave */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 15px;
    text-align: left;
}

table th {
    background-color: #005b4f; /* Verde oscuro/teal para encabezados */
    color: #e0e0e0; /* Texto claro en encabezados */
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #1c1c1c; /* Fondo oscuro para filas pares */
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7); /* Blanco más opaco */
}

a:hover {
    color: rgba(255, 255, 255, 1); /* Blanco completo al pasar el mouse */
    text-decoration: underline; /* Subrayar al pasar el mouse */
}

select {
    background-color: #005b4f; /* Mismo color que el botón */
    color: white; /* Texto blanco */
    padding: 10px 20px; /* Espaciado similar */
    border: none; /* Sin borde */
    border-radius: 5px; /* Mismo radio que el botón */
    font-size: 16px; /* Tamaño de fuente similar */
    cursor: pointer; /* Indicador de clic */
    margin-left: 20px; /* Separación con el botón "Crear Empleado" */
    cursor: pointer;
}


select:focus {
    outline: none; /* Quitar borde de enfoque predeterminado */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Efecto de sombra al enfocar */
}

.btn-crear:hover {
    background-color: #00796b; /* Color más oscuro al pasar el mouse */
    transition: background-color 0.3s; /* Efecto suave */
}






/* Estilos del botón de volver a la Home */
.btn-volver {
    position: absolute;
    top: 20px;
    left: 20px;
}









.form-container {
    background-color: #2b2b2b; /* Gris carbón */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #e0e0e0; /* Texto principal claro */
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1c1c1c; /* Fondo oscuro */
    color: white;
  }
  
  input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .btn-crear {
    background-color: #005b4f; /* Verde oscuro */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn-crear:hover {
    background-color: #00796b; /* Verde oscuro más intenso */
    transition: background-color 0.3s;
  }
  
  .error {
    color: red;
  }