body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c; 
    padding: 0;
    color: #e0e0e0; /
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.header h1 {
    font-size: 36px;
    margin: 10px 0;
}

.header p {
    color: #e0e0e0; 
    margin-bottom: 20px;
}

.btn-crear {
    background-color: #005b4f; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.table-container {
    background-color: #2b2b2b; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 15px;
    text-align: left;
}

table th {
    background-color: #005b4f; 
    color: #e0e0e0; 
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #1c1c1c; 
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7); 
}

a:hover {
    color: rgba(255, 255, 255, 1); 
    text-decoration: underline; 
}

select {
    background-color: #005b4f; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    margin-left: 20px; 
    cursor: pointer;
}


select:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.btn-crear:hover {
    background-color: #00796b; 
    transition: background-color 0.3s; 
}






/* Estilos del botón de volver a la Home */
.btn-volver {
    position: absolute;
    top: 20px;
    left: 20px;
}









.form-container {
    background-color: #2b2b2b; 
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #e0e0e0; 
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1c1c1c; 
    color: white;
  }
  
  input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .btn-crear {
    background-color: #005b4f; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn-crear:hover {
    background-color: #00796b; 
    transition: background-color 0.3s;
  }
  
  .error {
    color: red;
  }

  .success-banner {
    background-color: #005b4f; 
    color: white;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 20px 0;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Para que quede sobre el contenido */
    opacity: 0;
    animation: fadeInOut 3s forwards; 
  }
  
  /* Animación para que aparezca y desaparezca */
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }